

.main3 {
	/*height: 100%;
	width: 100%;*/
	padding-bottom: 50px;
}

.main3 img {
	margin-top: 165px;
	margin-left: 120px;
	height: 70%;

}

.main3 h1 {
	color: #00477F;
	font-size: 50px;
	text-transform: lowercase;
	text-shadow: none;
}

.main3 h2 {
	margin-top: 125px;
	margin-left: 100px;
	margin-right: 100px;
	color: black;
	font-size: 25px;
	text-shadow: none;
	line-height: 30px;
	margin-bottom: -100px;
}

.main3 p {
	margin-right: 15px;
	margin-left: 20px;
	color: black;
}

