@charset "utf-8"; 

/* CSS Document */ 

.jumbotron {
	text-align: center; 
	font-weight: bold;
	margin-bottom: -20px;
	color: #FFB81C;
	text-shadow: 2px 2px black;
	padding-top: 100px;

}

.jumbotron p {
	font-size: 50px;
	margin-bottom: -30px;
}

.main2 {
	padding-bottom: 30px;
	padding: 50px;
	/*margin-left: 20px;*/
}

.main2 img {
	padding: 10px;
	padding-bottom: 20px;
	padding-top: 30px;


}

.main2 p {
	text-align: center;
	text-shadow: 1px 1px black;
	color: #FFB81C;
	line-height: 15px;
}

.main2 h2 {
	text-align: center;
	text-shadow: 1px 1px black;
	color: white;
	line-height: 0px;
	font-size: 15px;

}

.line-separator {
	height: 4px;
	border-bottom: 1px solid white;
	width: 90%;
	margin: 0px auto;
	padding-top: 45px;
	padding-bottom: 15px;
}




}