
body { 
    background-image: url('../assets/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.page-container {
	background: #fff;
	width: 90%;
	margin: 0px auto;
}

#intro {
	height: 200px;
	width: auto;
	margin-top: 60px;
}

#intro h1 {
	text-align: left; 
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #111;
	padding-top: 50px;
	padding-left: 60px;
}

#intro h2 {
	text-align: left; 
	font-size: 24px; 
	font-weight: 300;
	font-family:'Lato', sans-serif;
	color: #111;
	padding-left: 60px;
}

#title h1 {
	text-align: center;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	color: #111;
}

.spacer{
	margin-left: 7.33333333%;
}

.profile-pic {
	background: #e0e0e0;
	width: 165px;
}

.profile-pic:hover {
	transition: all 0.4s ease-out;
	background: #337ab7;
	width: 165px;
	color: #fff;
	opacity: 0.85;
}

.profile-pic a:hover {
	text-decoration: none;
	transition: all 0.2s ease-out;
	color: #fff;
}

.profile-pic img {
	width: 165px;
	height: 200px;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	margin-top: 12.5px;
}

.profile-pic img:hover {
	transition: all 0.4s ease-out;
}

.row {
	padding-bottom: 40px;
}

#pcomm {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 40px;
}

#excomm {
	margin-top: 40px;
	text-align: center;
	padding-bottom: 20px;
}

.profile-pic h1 {
	font-size: 18px;
	margin-bottom: 3px;
}

#line-separator {
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 80%;
	margin: 0 auto;
}

.navigation {
	text-align: center; 
	box-shadow: 10px #888888; 
	margin-bottom: -10px;
}

.navigation li {
	display: inline; 
	text-align: center; 
	font-size: 15px;
	padding: 13px; 
	text-transform: uppercase;
	font-family:'Raleway', sans-serif;
}

.nav {
	display: block;
	list-style-type: disc;
	-webkit-margin-start: 0px;
	-webkit-padding-start: 0px;
	float: right;
	padding-right: 10%;
}

.footer {
	background-color: #00477F;
	width: 90%;
	margin: 0 auto;
	height: 75px;
}

.footer p {
	text-align: left;
	padding-left: 25px;
	color: #FFB81C; 
	line-height: 1px;
	size: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100px;
	text-shadow: 1px 1px black;
	padding-top: 10px;
}

#left {
	float: left;
}

#right {
	float: right;
	padding-right: 65px;
}

.fa-stack {
    border-radius: 100%;
    border: 2px solid #FFB81C;
    height: 36px;
    width: 36px;
    margin: 4px;
	margin-top: 18px;
}

.fa-facebook {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
	padding-right: 2px;
}

.fa-instagram {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
}

.fa-youtube {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
}


}