
#splash {
	background: url(../covers/about-us.png);
	background-size: cover;
	height: 625px;
	width: auto;
	margin-top: 60px;
}

#splash h1 {
	text-align: center; 
	font-size: 90px;
	font-family: 'Garamond', cursive;
	font-weight: 100;
	color: #F5F5F5;
	text-shadow: 2px 2px black;
	padding-top: 200px;
}

#splash  h2 {
	text-align: center; 
	font-size: 30px; 
	font-weight: 300;
	font-family:'Raleway', sans-serif;
	text-transform: lowercase;
	color: #F5F5F5;
	text-shadow: 2px 2px black;
}

#info {
	margin-top: 60px;
}

#info h3 {
	font-size: 42px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding-bottom: 5px;
}

#info p {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
}

#graphic img {
	margin-top: 60px;
	height: 70%;
	width: 75%;
}

.text-container {
	margin: 0 auto;
	width: 70%;
}

.lfs {
	background-color: #F5F5F5;
	height: 600px;
}

.lfs h1 {
	padding-top: 20px;
}

.lfs img {
	margin-top: 75px;
}

.navigation {
	text-align: center; 
	box-shadow: 10px #888888; 
	margin-bottom: -10px;
}

.navigation li {
	display: inline; 
	text-align: center; 
	font-size: 15px;
	padding: 13px; 
	text-transform: uppercase;
	font-family:'Raleway', sans-serif;
}

.nav {
	display: block;
    list-style-type: disc;
    -webkit-margin-start: 0px;
	-webkit-padding-start: 0px;
	padding-left: 100px;
}

.row {
	width: 90%;
	margin: auto;
	margin-top: 75px;
}

#message {
	height: 500px;
	width: 1300px;
	margin: 0 auto;
}

.footer {
	background-color: #00477F;
	width: 100%;
	margin: 0 auto;
	height: 75px;
}

.footer p {
	text-align: left;
	padding-left: 25px;
	color: #FFB81C; 
	line-height: 1px;
	size: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100px;
	text-shadow: 1px 1px black;
	padding-top: 10px;
}

#left {
	float: left;
}

#right {
	float: right;
	padding-right: 65px;
}

.fa-stack {
    border-radius: 100%;
    border: 2px solid #FFB81C;
    height: 36px;
    width: 36px;
    margin: 4px;
	margin-top: 18px;
}

.fa-facebook {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
	padding-right: 2px;
}

.fa-instagram {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
}

.fa-youtube {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
}

}