
body { 
    background-image: url('../../assets/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.page-container {
	background: #fff;
	width: 90%;
	margin: 0px auto;
}

#intro {
	height: 200px;
	width: auto;
	margin-top: 60px;
}

#intro h1 {
	text-align: left; 
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #111;
	padding-top: 50px;
	padding-left: 60px;
}

#intro h2 {
	text-align: left; 
	font-size: 24px; 
	font-weight: 300;
	font-family:'Lato', sans-serif;
	color: #111;
	padding-left: 60px;
}

#title {
	display: inline-block;
}

.bio h1 {
	text-align: center;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	color: #111;
	padding-top: 30px;
}

.bio .row #category {
	font-family: 'Lato', sans-serif;
	color: #333;
	text-align: left;
	font-size: 20px;
	padding-top: 0px;
	padding-bottom: 5px;
	text-shadow: 1px 1px #aaa;
}

.bio .row #category #answer {
	font-family: 'Lato', sans-serif;
	color: #66696a;
	display: inline-block;
	text-align: justify;
	font-size: 18px;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 8px;
	text-shadow: none;
}

#line-separator {
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 90%;
	margin: 0 auto;
}

.bio .row{
	padding-top: 20px;
	padding-bottom: 50px;
}

.navigation {
	text-align: center; 
	box-shadow: 10px #888888; 
	margin-bottom: -10px;
}

.navigation li {
	display: inline; 
	text-align: center; 
	font-size: 15px;
	padding: 13px; 
	text-transform: uppercase;
	font-family:'Raleway', sans-serif;
}

.nav {
	display: block;
	list-style-type: disc;
	-webkit-margin-start: 0px;
	-webkit-padding-start: 0px;
	float: right;
	padding-right: 10%;
}

.footer {
	background-color: #00477F;
	width: 90%;
	margin: 0 auto;
	height: 75px;
}

.footer p {
	text-align: left;
	padding-left: 25px;
	color: #FFB81C; 
	line-height: 1px;
	size: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100px;
	text-shadow: 1px 1px black;
	padding-top: 10px;
}

#left {
	float: left;
}

#right {
	float: right;
	padding-right: 65px;
}

.fa-stack {
    border-radius: 100%;
    border: 2px solid #FFB81C;
    height: 36px;
    width: 36px;
    margin: 4px;
	margin-top: 18px;
}

.fa-facebook {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
	padding-right: 2px;
}

.fa-instagram {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
}

.fa-youtube {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
}


}