
body { 
    background-image: url('../assets/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.page-container {
	background: #fff;
	width: 90%;
	margin: 0px auto;
}

#intro {
	height: 200px;
	width: auto;
	margin-top: 60px;
}

#intro h1 {
	text-align: left; 
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #111;
	padding-top: 50px;
	padding-left: 60px;
}

#intro h2 {
	text-align: left; 
	font-size: 24px; 
	font-weight: 300;
	font-family:'Lato', sans-serif;
	color: #111;
	padding-left: 60px;
}

#title h1 {
	text-align: center;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	color: #111;
}

.profile-pic h1 {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

#pcomm {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 40px;
}

#excomm {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 20px;
}

#profiles {
	
}

#profiles .post h1 {
	font-size: 24px;
	padding-left: 200px;
	margin-bottom: 3px;
}

#profiles .post h2 {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	padding-left: 200px;
	color: #337ab7;
	margin-bottom: 20px;
}
	
#profiles .post p {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	padding-left: 200px;
	padding-right: 200px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#profiles .post li{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	padding-left: 200px;
	padding-right: 200px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#line-separator {
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 90%;
	margin: 0 auto;
}

#calendar {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 60px;
}

.navigation {
	text-align: center; 
	box-shadow: 10px #888888; 
	margin-bottom: -10px;
}

.navigation li {
	display: inline; 
	text-align: center; 
	font-size: 15px;
	padding: 13px; 
	text-transform: uppercase;
	font-family:'Raleway', sans-serif;
}

.nav {
	display: block;
	list-style-type: disc;
	-webkit-margin-start: 0px;
	-webkit-padding-start: 0px;
	float: right;
	padding-right: 10%;
}

.footer {
	background-color: #00477F;
	width: 90%;
	margin: 0 auto;
	height: 75px;
}

.footer p {
	text-align: left;
	padding-left: 25px;
	color: #FFB81C; 
	line-height: 1px;
	size: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100px;
	text-shadow: 1px 1px black;
	padding-top: 10px;
}

#left {
	float: left;
}

#right {
	float: right;
	padding-right: 65px;
}

.fa-stack {
    border-radius: 100%;
    border: 2px solid #FFB81C;
    height: 36px;
    width: 36px;
    margin: 4px;
	margin-top: 18px;
}

.fa-facebook {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
	padding-right: 2px;
}

.fa-instagram {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
}

.fa-youtube {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
}


}